<a href="https://colab.research.google.com/github/JosephNdubuisi/holbertonschool-low_level_programming/blob/master/Lecture_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lecture 5 - October 5, 2022

Functions

In [ ]:
def my_function(x, y, z=1.5, w=4):
  if z > 1:
    print("here")
  else:
    print("there")

In [ ]:
my_function(1, 2) # x =1, y=2, z = 1.5, w = 4
my_function(1, 2, 1) # z = 1 ,w = 4
my_function(1, 2, 3, 24) #z = 3, w = 24

here
there
here

In [ ]:
ret_value = my_function(1, 2)
print(ret_value)

here
None

In [ ]:
# factorial(n) = n * (n-1) * (n-2) * ... * 2 * 1

def factorial(num):
  if (num == 0 | num == 1):
    return 1
  else:
    return num * factorial(num-1)




def factorial_starter():
  n = int(input("Please enter an integer:"))
  fact = factorial(n)
  print("Factorial of " + str(n) + " is " + str(fact))


#fact(3) = 3 * fact(2)
#
#              fact(2) = 2 * fact(1)
#                            1

In [ ]:
factorial_starter()

Please enter an integer:105
Factorial of 105 is 1081396758240290900504101305800329649720646107774902579144176636573226531909905153326984536526808240339776398934872029657993872907813436816097280000000000000000000000000

In [ ]:
some_list = [(1, (2, ((3)))), (4, 5, 6), (7, 8, 9)]

flattened = []
for tup in some_list:
  for item in tup:
    flattened.append(item)

print("Flattened list:", flattened)

Flattened list: [1, (2, 3), 4, 5, 6, 7, 8, 9]

In [ ]:
def flatten(L):
  if not L:
    return L
  elif isinstance(L[0], tuple):
    return flatten(L[0]) + flatten(tuple(L[1:]))
  else:
    return (L[0],) + flatten(L[1:])

In [ ]:
flatten(some_list)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
a = None

def bind_a_variable():
  #global a
  a = []

In [ ]:
bind_a_variable()

In [ ]:
print(a)

None

In [ ]:
# Returning Multiple Values

def foo():
  a = 5
  b = 3
  c = 1
  return a, b, c

v1, v2, v3 = foo()
print(v2)

3

In [ ]:
return_val = foo()
print(return_val)

(5, 3, 1)

In [ ]:
print(type(return_val))

<class 'tuple'>

In [ ]:
states = ['Alabama ', 'Georgia!', 'georgia', 'FLoRiDa', "south carolina####@@@#", "West Virginia????"]

In [ ]:
# re - library for regular expressions
import re

In [ ]:
def clean_strings(a_list_to_clean):
  result = []
  for value in a_list_to_clean:
    value = value.strip()
    value = re.sub('[!#@?]', '', value)
    value = value.title()
    result.append(value)
  
  return result

In [ ]:
clean_strings(states)

['Alabama', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

In [ ]:
def remove_punctuation(value):
  return re.sub('[!@#?]', '', value)

cleaning_ops = [str.strip, remove_punctuation, str.title]

def clean_strings_generic(strings, ops):
  result = []
  for value in strings:
    for func in ops:
      value = func(value)
    result.append(value)
  
  return result

In [ ]:
clean_strings_generic(states, cleaning_ops)

['Alabama', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']